.dialog-container {
  width: 60%;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  header {
    display: flex;
    align-items: center;
    justify-content: end;

    button {
      border: none;
      background-color: transparent;

      font-size: x-large;
    }
  }

  &[open] {
    display: flex;
    flex-direction: column;
  }

  .content {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  .actions {
    display: flex;
    justify-content: end;
    gap: 4px;

    button {
      padding: 6px 12px;
      border-radius: 4px;
    
      text-align: center;
    
      &:hover {
        cursor: pointer;
      }
    }
  }
}