.open-modal-btn {
  padding: 6px 12px;
  border-radius: 4px;

  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.header-close-modal-btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    background-color: transparent;
    border: none;
    font-size: x-large;
  }
}